@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1025px;
  height: 100%;
  margin: 0px auto;
}

.container-jogo {
  display: flex;
  justify-content: space-between;
  height: 50%;
}

.jogo-image {
  width: 30%;
  margin-left: 39px;
}

.jogo-image img {
  width: 100%;
  height: 100%;
}

.jogo-direito {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 28px 53px 0px 0px;
}

.jogo-button {
  width: 200px;
  height: 60px;
  background-color: #27ae60;
  border: none;
  border-radius: 8px;
  margin-bottom: 200px;
  cursor: pointer;

  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.jogo-palavra {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  letter-spacing: 0.5rem;
}

.container-letras {
  display: flex;
  width: 664px;
  flex-wrap: wrap;
  gap: 12px;
  margin: 7% auto;
}

.container-letras button {
  width: 40px;
  height: 40px;
  background: #e1ecf4;
  border: 1px solid #7aa7c7;
  border-radius: 3px;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  color: #39739d;
}

.container-chute {
  display: flex;
  width: 694px;
  margin: 0px auto 15px;
  justify-content: space-between;
  align-items: center;
}

.container-chute label {
  width: 212px;
  height: 23px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.container-chute input {
  width: 353px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;

  font-weight: 700;
  font-size: 15px;
  line-height: 23px;
}

.container-chute button {
  width: 100px;
  height: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #3c76a1;
  background-color: #e1ecf4;
  border: 1px solid #7aa7c7;
  border-radius: 3px;
  cursor: pointer;
}

.container-chute button.disable {
  cursor: not-allowed;
}

/*  Utilitarios */

button:active {
  scale: 0.9;
}

button:hover {
  opacity: 0.7;
}
.container-letras .disable {
  background-color: #9faab5;
  color: #798a9f;
  cursor:not-allowed ;
}

.disable:active {
  scale: 1;
}
.disable:hover {
  opacity: 1;
}
